<footer class="fixed-bottom p-2">
  <div class="text-center mb-1">
      <a href="https://www.linkedin.com/in/vinay-pratap-singh-rana-6b88841b8/"" target="blank" class="ps-2"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/vinaypratap15151"target="blank" class="ps-2"><i class="fab fa-github"></i></a>
  </div>
  <div class="text-center">&copy; vinay pratap singh rana</div>
</footer>

  
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/css/index.js"></script>
 
</body>

</html>