<%- include("partials/header") -%>
  <!-- <div class="row row-cols-1 row-cols-md-3 g-4 mx-5 my-5">
    <div class="col">
      <div class="card">
        <img class="img1" src="https://tse1.mm.bing.net/th?id=OIP.i08C1Q5eb3sMDxnDE5oCnwHaET&pid=Api&P=0&w=292&h=170"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title "><u>CUSTOMERS</u></h5>
          <p class="card-text "><button class="btn btn-secondary btn-lg d-grid gap-2 col-6 mx-auto" type="button" class="  btn btn-secondary btn-lg">View
              Customers</button></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" id="c2">
        <img class="img1" src="https://tse1.mm.bing.net/th?id=OIP.mOwuC571mEu1LXv8gtFV9AHaEK&pid=Api&P=0&w=311&h=170"
          class="card-img-top" alt="...">
        <div  class="card-body">
          <h5 class="card-title" ><u>TRANSFER MONEY</u></h5>
          <p class="card-text"><button class="btn btn-secondary btn-lg d-grid gap-2 col-6 mx-auto" type="button"
              class="btn btn-secondary btn-lg ">Transfer</button></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img class="img1" src="https://shockoe.com/wp-content/uploads/2018/02/transaction-search.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" ><u>TRANSACTION HISTORY</u></h5>
          <p class="card-text"> <button  type="button"
              class="btn btn-secondary btn-lg d-grid gap-2 col-6 mx-auto ">Transaction History</button></p>
        </div>
      </div>
    </div>

  </div> -->
  <section class="first">
    <div class="home">
      <div class="container">
    <div class="card ">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <img  src="https://tse1.mm.bing.net/th?id=OIP.i08C1Q5eb3sMDxnDE5oCnwHaET&pid=Api&P=0&w=292&h=170">
          <h3 class="my-3"><u>Customers</u></h3>
          <p class="adjustcontent"> To view the details of all the customers you may proceed to this page</p>
          <a href="/customers" class="push">View More</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>02</h2>
            <img  src="https://tse1.mm.bing.net/th?id=OIP.mOwuC571mEu1LXv8gtFV9AHaEK&pid=Api&P=0&w=311&h=170">
          <h3 class="my-3"><u>Transfer Money</u></h3>
          <p class="adjustcontent">To make a money Transaction you may proceed to this page</p>
          <a href="/transfer" class="push">View More</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <img class="img1" src="https://shockoe.com/wp-content/uploads/2018/02/transaction-search.png" class="card-img-top" alt="...">
          <h3 class="my-3"><u>Transfer History</u></h3>
          <p class="adjustcontent">To view all the past transactions you may proceed to this page</p>
          <a href="/transferhistory" class="push">View More</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>





  <%- include("partials/footer") -%>